<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aniversario 2017|Fotos</title>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-img@latest/dist/v-img.min.js"></script>
    <script src="../../js/components/menu-item.js"></script>
    <script src="../../js/components/item-footer.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
</head>
<body>
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '126968564676905',
                    cookie: true,
                    xfbml: true,
                    version: 'v2.10'
                });
                FB.AppEvents.logPageView();
            };
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10&appId=126968564676905';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script>
  var config = {
    apiKey: "AIzaSyC2RvmGHYtaqUa5lEXb3MLl_Mv4ECiLoBE",
    authDomain: "chat-lavozdeoieniv.firebaseapp.com",
    databaseURL: "https://chat-lavozdeoieniv.firebaseio.com",
    projectId: "chat-lavozdeoieniv",
    storageBucket: "chat-lavozdeoieniv.appspot.com",
    messagingSenderId: "24315564955"
  };
  firebase.initializeApp(config);

var storage = firebase.storage();
var storageRef = storage.ref();
var database = firebase.database().ref("imagenes/prueba");
</script>
<div id="app">
    <header id="menu">
        <menu-item index="../../index.html" 
         radio="../../radio.html" 
         fotos="../fotos.html" 
         videos="../videos.html" 
         nosotros="../../nosotros.html" 
         logo="../../images/logo.png">
        </menu-item>
    </header>
    <div class="container">
        <div class="row" id="images-container">
            <modal-template v-if="showModal"></modal-template>
            <div class="col-md-12" style="height: 300px" id="header"></div>
            <template v-if="imagesItem">
            <div class="col-md-12">
                <p class="imgList">
            <div class="col-md-3">
                <template v-for="(iten, index) in uno(images)">
                    <div class="col-md-12">
                        <div>
                            <img v-img:v="{title: iten.value.title,  src:iten.value.url}" :id="iten.id" :src="iten.value.thumb" alt="">
                            <h2>{{ iten.value.title }}</h2>
                        </div>
                    </div>
                </template>
            </div>
            <div class="col-md-3">            
                <template v-for="(iten, index) in dos(images)">
                    <div class="col-md-12">
                        <div>
                            <img v-img:v="{title: iten.value.title, src:iten.value.url}" :id="iten.id" :src="iten.value.thumb" alt="">
                            <h2>{{ iten.value.title }}</h2>
                        </div>
                    </div>
                </template>
            </div>
            <div class="col-md-3">            
                <template v-for="(iten, index) in tres(images)">
                    <div class="col-md-12">
                        <div>
                            <img v-img:v="{title: iten.value.title,  src:iten.value.url}" :id="iten.id" :src="iten.value.thumb" alt="">
                            <h2>{{ iten.value.title }}</h2>
                        </div>
                    </div>
                </template>
            </div>
            <div class="col-md-3">            
                <template v-for="(iten, index) in cuatro(images)">
                    <div class="col-md-12">
                        <div>
                            <img v-img:v="{title: iten.value.title,  src:iten.value.url}" :id="iten.id" :src="iten.value.thumb" alt="">
                            <h2>{{ iten.value.title }}</h2>
                        </div>
                    </div>
                </template>
            </div>
        </p>
        </div>
        </template>
        <template v-else>
            <div id="preloader_4">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </template>
     </div>
    </div>
    <div id="box">
    </div>
    </div>
    <script src="../../js/GaleriaFotos.js"></script>
    <script>
        if (window.screen.width >= 480 && window.screen.width <= 767) {
            var clase = document.querySelector(".col-md-3");
        }
            database.on('value', snapshot => {
                let id = 1;
                images.images=[];
                snapshot.forEach(e => { 
                    let url = e.val()
                        images.images.unshift({ id: id, value: e.val() })
                    id++
                });
            });
        if (database == undefined) {
            alert("Error al cargar la base de datos de imagenes. Por favor recargue la pagina")
        }
    </script>
</body>
</html>
