<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aniversario 2017|Fotos</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
    
    <script src="../../frameworks/jquery-3.2.1.min.js"></script>
    <script src="../../frameworks/vue.min.js"></script>
    <link rel="stylesheet" href="../../frameworks/bootstrap.css">
    
    <link rel="stylesheet" href="../../css/style-galerias.css" />
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
</head>
<body>
<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
<script>
  var config = {
  apiKey: "AIzaSyC2RvmGHYtaqUa5lEXb3MLl_Mv4ECiLoBE",
  authDomain: "chat-lavozdeoieniv.firebaseapp.com",
  databaseURL: "https://chat-lavozdeoieniv.firebaseio.com",
  projectId: "chat-lavozdeoieniv",
  storageBucket: "chat-lavozdeoieniv.appspot.com",
  messagingSenderId: "24315564955"
  };
  firebase.initializeApp(config);
var storage = firebase.storage();
var storageRef = storage.ref();
var database = firebase.database().ref("imagenes/prueba");
</script>
    <script>
        var data = {};
        var n;
    </script>
    <header id="menu">
        <menu-item index="../../index.html" 
         radio="../../radio.html" 
         fotos="../fotos.html" 
         videos="../videos.html" 
         nosotros="../../nosotros.html" 
         logo="../../images/logo.png">
        </menu-item>
        <script src="../../js/menu.js"></script>
    </header>
    <script src="../../js/plantilla-menu.js"></script>
    <div class="container">
        <div class="row" id="images-container">
            <modal-template v-if="showModal"></modal-template>
            <div class="col-md-12" style="height: 300px" id="header"></div>
            <template v-if="imagesItem">
            <div class="col-md-12">
            <div class="col-md-3">
                <template v-for="iten in uno(images)">
                    <div class="col-md-12" v-on:click="openGal(iten.id-1)">
                        <div>
                            <img v-bind:id="iten.id" v-bind:src="iten.value.url" alt="">
                            <h2>{{ iten.value.title }}</h2>
                        </div>
                    </div>
                </template>
            </div>
            <div class="col-md-3">            
                <template v-for="iten in dos(images)">
                    <div class="col-md-12" v-on:click="openGal(iten.id-1)">
                        <div>
                            <img v-bind:id="iten.id" v-bind:src="iten.value.url" alt="">
                            <h2>{{ iten.value.title }}</h2>
                        </div>
                    </div>
                </template>
            </div>
            <div class="col-md-3">            
                <template v-for="iten in tres(images)">
                    <div class="col-md-12" v-on:click="openGal(iten.id-1)">
                        <div>
                            <img v-bind:id="iten.id" v-bind:src="iten.value.url" alt="">
                            <h2>{{ iten.value.title }}</h2>
                        </div>
                    </div>
                </template>
            </div>
            <div class="col-md-3">            
                <template v-for="iten in cuatro(images)">
                    <div class="col-md-12" v-on:click="openGal(iten.id-1)">
                        <div>
                            <img v-bind:id="iten.id" v-bind:src="iten.value.url" alt="">
                            <h2>{{ iten.value.title }}</h2>
                        </div>
                    </div>
                </template>
            </div>
        </div>
        </template>
        <template v-else>
            <div id="preloader_4">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </template>
     </div>
    </div>
    <div id="box">
    </div>
    <script src="../../js/menu-template.js"></script>
    <script>
        function cerrar() {
            var op = document.getElementById("box");
            op.innerHTML="";
        }
        function next(n) {
            for (i in images.images);
            var g = n +1; 
            var op = document.getElementById("box")
            if (g == i) {
                op.innerHTML = `<div class="lightbox" id="image">
                <a class="close" onclick="cerrar()">X</a>
                <span onclick="prev(${g})"><</span><img src=${images.images[g].value.url} alt="">
                </div>`
            } else {
                op.innerHTML = `<div class="lightbox" id="image">
                <a class="close" onclick="cerrar()">X</a>
                <span onclick="prev(${g})"><</span><img src=${images.images[g].value.url} alt=""><span onclick="next(${g})">></span>
                 </div>`
            }
        }
        function prev(n) {
            var g = n - 1; 
            var op = document.getElementById("box");
            if (n==1) {
                op.innerHTML = `<div class="lightbox" id="image">
                <a class="close" onclick="cerrar()">X</a>
                <img src=${images.images[g].value.url} alt=""><span onclick="next(${g})">></span>
                </div>`
            }else{
                op.innerHTML = `<div class="lightbox" id="image">
                <a class="close" onclick="cerrar()">X</a>
                <span onclick="prev(${g})"><</span><img src=${images.images[g].value.url} alt=""><span onclick="next(${g})">></span>
                </div>`
            }
        }
        if (window.screen.width >= 480 && window.screen.width <= 767) {
            var clase = document.querySelector(".col-md-3")
        }
        $(document).ready(()=>{
         database.on('value', snapshot => {
            let id = 1;
            snapshot.forEach(e => { 
                images.images.unshift({id:id, value:e.val()}) // Asignar todos los valores a un objeto
                id++
            });
        });
        })
    </script>
</body>
</html>
