*{
    margin: 0;
    padding: 0;
    font-family: helvetica
}

body{
    background: #f7f7f7
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ndzgob');
  src:  url('fonts/icomoon.eot?ndzgob#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ndzgob') format('truetype'),
    url('fonts/icomoon.woff?ndzgob') format('woff'),
    url('fonts/icomoon.svg?ndzgob#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-headphones:before {
  content: "\e910";
}
.icon-music:before {
  content: "\e911";
}
.icon-podcast:before {
  content: "\e91c";
}
.icon-feed:before {
  content: "\e91d";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-users:before {
  content: "\e972";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute:before {
  content: "\ea2a";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}

/*Menu*/
nav#menu{
   width: 100%;
   height: 80px;
   background: #4B7FE8;
}
nav#menu ul{
    float: right;
    overflow: hidden;
}
nav#menu ul li{
    color: #f7f7f7;
    cursor: pointer;
    display: inline-block;
    background: rgb(51, 95, 182);
    padding-top: 26px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: right;
}
.active{
    padding-bottom:26px;
    border-bottom: 4px solid #E5931A;
}
.noActive{
    padding-bottom: 30px;
}

/*Bloqueo*/
#mensajeBloqueo{
    color: gray;
    text-align: center;
    display: block;
    margin-top: 2.5%;
    font-size: 28px;
}
#mensajeBloqueo a{
    color: black;
    text-decoration: none;
    
}
#cuerpoBloqueo{
    background: #f7f7f7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#autenticacion{
    border-radius: 4px;
    border: 2px solid rgba(75, 127, 232, 0.30);
    box-shadow: 1px 1px 4px gray;
    background: #e7e5e5;
    width: 30%;
    margin: auto;
    margin-top:50px;
}
#autenticacion div{
    display: block;
    margin: 20px 30px;
}
#enviar{
    text-align: center;
}
#btn-enviar{
    width: 60%;
}
#image-logo{
    text-align: center;
}
#image-logo img{
    margin-top: 20px;
    background: rgba(128, 128, 128, 0.459);
    border-radius: 4px;
}

/*Pagina 1*/
#title-count{
    text-align: center;
    font-family: Helvetica;
    height: 50px;
    font-size: 30px;
    font-weight: 600;
    color: gray;
    margin: 25px 0 50px 0;
}
.nombre-voto{
    margin: 0 6.5%;
    float: left;
    border: 2px solid rgba(75,127,232,.3);
    box-shadow: 1px 1px 4px gray;
    border-radius: 3px;
    text-align: center;
    width: 20%;
    height: 50px;
    background: #e7e5e5
    
}
.nombre-voto > span{
    display: block;
    margin-top:  14px;
}
.cuenta-voto{
    text-align: center;
    margin: 0 11.5%;
    font-size: 25px;
    float: left;
    border: 2px solid rgba(75,127,232,.3);
    box-shadow: 1px 1px 4px gray;
    border-radius: 3px;    
    width: 10%;
    height: 80px;
}
.cuenta-voto > span{
    display: block;
    margin-top: 20px;
}
#btn-container{
    text-align: center
}
.btn-lavoz{
    margin: 40px;
    margin-bottom: 0px;
    vertical-align: middle;
    cursor: pointer;
    width: auto;
    height: 40px;
    padding: 10px 25px;
    background: #E5931A;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    font-family: helvetica;
    box-shadow: 2px 2px 3px gray;
    color: rgb(49, 49, 49);
    transition: .2s ease;
}
#spinner{
    color: red;
}
#spinner img{
    width: 150px;
}
.btn-lavoz:hover{
    background: rgb(255, 162, 23);

}
.icon-spinner9::before{
  animation: rotar ease-in-out 2s infinite;
  
}
@keyframes rotar{
  from{
    transform: rotate(0)
  }
  to{
    transform: rotate(360)
  }
}
        .cajaexterna {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}
.cajainterna {

    background: #fff;
    margin: 6em auto 0;
    position: relative;
        width: 60%;
    height: 50%;

}
.cajacentrada {
    margin:0 auto;
    display: block;
    text-align: center;
    padding:80px 0;
}
.cajacentrada h2 {
    background: none repeat scroll 0 0 black;
    box-sizing: border-box;
    color: white;
    font-size: 15px;
    left: 0;
    margin: 0;
    padding: 5px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
}
.cajacentrada p {
    margin-top: 30px;
}
.cerrar {
    position: absolute;
    right: 16px;
    top: 13px;
}

/*Pagina 2*/

#formulario{
    margin:auto;
    width:40%;
    border: solid black 1px;
}
#formulario div{
    width: 70%;
    margin: auto;
}
#formulario option{
    margin: auto;
}
#boton{
    width: 60%;
    margin: auto;
}

#progreso{
    border: none;
    width: 250px;
    height: 4px;
}

/*Pagina 3*/

#contenedor{
    display: grid;
    grid-template-columns: 7% 12.5% 60% 15% 5.5%;
    justify-items:stretch;
    align-items:stretch;
    
    justify-content:center;
    align-content:center;
    padding:50px 30px;
}
.hea{
text-align:center;
 background:blue;
 border:1px solid black;
 height:70px;
}
.solo{
    grid-column-start:1;
    text-align:center;
    grid-column-end:6;
    padding:20px 0
}

.borde{
    border:solid black 1px;
}

.spinner{
    width: 100px;
    height: 100px;
    animation: rotate 1s infinite linear;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}