.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
@font-face{
	font-family: "Roboto";
	src: url("../css/Roboto-Regular.ttf");
}
@font-face {
 font-family:'icomoon';
 src:url(fonts/icomoon.eot?ndzgob);
 src:url('fonts/icomoon.eot?ndzgob#iefix') format('embedded-opentype'),url(fonts/icomoon.ttf?ndzgob) format('truetype'),url(fonts/icomoon.woff?ndzgob) format('woff'),url('fonts/icomoon.svg?ndzgob#icomoon') format('svg');
 font-weight:400;
 font-style:normal
}
[class^="icon-"],[class*=" icon-"] {
 font-family:'icomoon'!important;
 speak:none;
 font-style:normal;
 font-weight:400;
 font-variant:normal;
 text-transform:none;
 line-height:1;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale
}
.icon-headphones:before {
 content:"\e910"
}
.icon-music:before {
 content:"\e911"
}
.icon-podcast:before {
 content:"\e91c"
}
.icon-feed:before {
 content:"\e91d"
}
.icon-envelop:before {
 content:"\e945"
}
.icon-users:before {
 content:"\e972"
}
.icon-spinner9:before {
 content:"\e982"
}
.icon-menu:before {
 content:"\e9bd"
}
.icon-cross:before {
 content:"\ea0f"
}
.icon-checkmark:before {
 content:"\ea10"
}
.icon-play:before {
 content:"\ea1c"
}
.icon-pause:before {
 content:"\ea1d"
}
.icon-volume-high:before {
 content:"\ea26"
}
.icon-volume-medium:before {
 content:"\ea27"
}
.icon-volume-low:before {
 content:"\ea28"
}
.icon-volume-mute:before {
 content:"\ea2a"
}
.icon-circle-right:before {
 content:"\ea42"
}
.icon-circle-left:before {
 content:"\ea44"
}
.icon-facebook:before {
 content:"\ea90"
}
.icon-instagram:before {
 content:"\ea92"
}
.icon-whatsapp:before {
 content:"\ea93"
}
.icon-twitter:before {
 content:"\ea96"
}
.icon-youtube:before {
 content:"\ea9d"
}


*{
    font-family: 'Roboto', arial;
    margin: 0;
    padding: 0;
}

.mdl-mini-footer {
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-flow:row wrap;
 -ms-flex-flow:row wrap;
 flex-flow:row wrap;
 -webkit-justify-content:space-between;
 -ms-flex-pack:justify;
 justify-content:space-between;
 padding:32px 16px;
 color:rgb(158,158,158);
 background-color:rgb(66,66,66)
}
.mdl-mini-footer:after {
 content:'';
 display:block
}
.mdl-mini-footer .mdl-logo {
 line-height:36px
}
.mdl-mini-footer--link-list,.mdl-mini-footer__link-list {
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-flow:row nowrap;
 -ms-flex-flow:row nowrap;
 flex-flow:row nowrap;
 list-style:none;
 margin:0;
 padding:0
}
.mdl-mini-footer--link-list li,.mdl-mini-footer__link-list li {
    display: inline-block;
 margin-bottom:10px;
 margin-right:16px
}
@media screen and (min-width:760px) {
 .mdl-mini-footer--link-list li,.mdl-mini-footer__link-list li {
  line-height:36px
 }
}
.mdl-mini-footer--link-list a,.mdl-mini-footer__link-list a {
 color:inherit;
 text-decoration:none;
 white-space:nowrap
}
.mdl-mini-footer--left-section,.mdl-mini-footer__left-section {
 display:inline-block;
 -webkit-order:0;
 -ms-flex-order:0;
 order:0
}
.mdl-mini-footer--right-section,.mdl-mini-footer__right-section {
 display:inline-block;
 -webkit-order:1;
 -ms-flex-order:1;
 order:1
}
.mdl-mini-footer--social-btn,.mdl-mini-footer__social-btn {
 width:36px;
 height:36px;
 padding:0;
 margin:0 2.5px;
 background-color:rgb(158,158,158);
 border:none;
 cursor: pointer;
}


header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
display: block;
}
.pull-left{
    float: left !important;
}
.pull-right{
    float: right !important;
}
.img-circle{
    border-radius: 50%;
}
.active-tab{
    background: #E5931A;
    list-style: none;
    width: 100%;
    color: #32559C;
    padding: 20px 0;
    border-bottom: 1px #f7f7f7 solid;
    cursor: pointer;
    font-weight: 550
}
header {
    height: 50px
}
header,
header a div,
header .menu-cel,
.pie {
    width: 100%
}
body {
    background: #f7f7f7;
}
header a div {
    color: black;
    box-shadow: 0 2px 5px;
    position: fixed;
    z-index: 100
}
header .menu-cel {
    left: 0;
    cursor: pointer;
    height: 50px;
    position: fixed;
    z-index: 1000;
    background: #90ADE8;
    box-shadow: 0 0 10px
}
header .menu-cel span {
    margin-top: 5px;
    font-size: 40px;
    color: rgb(225, 225, 225);
    float: right
}
header .menu-cel img {
    height: 50px
}
header nav {
    margin-top: 50px;
    left: -100%;
    background: #90ADE8;
    width: 60%;
    height: 100%;
    position: fixed;
    z-index: 1001
}
header .sombra {
    display: none;
    position: fixed;
    margin-top: 50px;
    right: 0;
    width: 40%;
    height: 100%;
    z-index: 1001;
    background: rgba(0, 0, 0, .5)
}
.menu ul {
    padding: 0
}
.menu ul li {
    border-bottom: 2px solid rgba(255, 255, 255, .3);
    list-style: none
}
.menu ul li a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f7f7f7;
    position: relative;
    display: inline-block;
    padding: 20px;
    width: 100%;
    text-decoration: none
}
.menu img {
    display: none
}
header nav ul li:hover .children {
    display: none;
}  
header nav ul li .children {
    display: none;
    width: 100%;
    position: relative;
}  
header nav ul li .children li a {
    margin-left: 20px;
}  
header nav ul li .caret {
    float: right;
}

div.img-container img{
    width: 90%;
    margin: 0 5%;
}
#nav-aside{
    text-align: center;
}
.default-tab{
    list-style: none;
    width: 100%;
    color: #f7f7f7;
    background: #4B7FE8;
    padding: 20px 0;
    border-bottom: 1px #f7f7f7 solid;
    cursor: pointer;
}
.default-tab:hover{
    background: #E5931A;
    color: #32559C;
    transition: .4s ease;
}
.content{
    background: white;
    border: 2px solid rgba(75,127,232,.3);
    margin:10px 4.5%;
    width: 90%;
    border-radius: 3px;
    position: relative;
    float: left;
}
.content h2, .content h3{
    text-align: center;
    margin: 10px 0 0 0;
}
.content p{
    text-align: center;
    padding: 10px 5%;
    color: rgb(80, 80, 80)
}

.mdl-mini-footer {
 color:#f7f7f7;
 background-color:#32559C
}
.mdl-mini-footer span {
 display:block
}
.mdl-logo a .mdl-logo {
 height:60px
}
.separador{
    display: none;
}
@media screen and (min-width:480px){

}
@media screen and (min-width:767px){
    #nav-aside{
        width: 30%;
        margin: 0 20px;
        float: left;
    }
    .content-aside{
        width: 60%;
        height: 232px;
        float: right;
        margin:10px 20px 10px 10px;
    }
    .separador{
        display: block;
        float: left;
        border: .5px solid rgba(0, 0, 0, .2);
        width: 0px;
        height: 200px;
        margin: 15px 0 0 0;
    }
    .apoyanos{
        
    }
    .mdl-logo a .mdl-logo {
        height:80px
    }
}
@media screen and (min-width:950px){
    header {
         height: 80px
     }

     .menu {
         box-shadow: 0 0 10px;
         height: 70px;
         margin: 0;
         left: 0;
         width: 100%;
         position: fixed;
         z-index: 2000000
     }

     .menu ul {
         float: right
     }

     .menu ul li {
         text-align: right;
         display: inline-block;
         border: none
     }

     .menu ul li a.borderanim:hover {
         transition-delay: 1s;
         -webkit-transition-delay: 1s;
         -moz-transition-delay: 1s;
         -o-transition-delay: 1s
     }

     a.borderanim:before,
     a.borderanim:after,
     a.borderanim span:before,
     a.borderanim span:after {
         content: '';
         position: absolute;
         background-color: rgba(229, 147, 26, 0.8);
         transition: .25s all ease-out;
         -webkit-transition: .25s all ease-out;
         -moz-transition: .25s all ease-out;
         -o-transition: .25s all ease-out
     }

     a.borderanim:before,
     a.borderanim:after {
         height: 3px
     }

     a.borderanim:after {
         bottom: 0;
         left: 0;
         right: 100%
     }

     a.borderanim:hover:after {
         right: 0
     }

     .menu ul li a {
         color: #f7f7f7;
         font-size: 14px;
         height: 16px;
         width: auto;
         text-align: left;
         padding: 28px 20px 26px 20px
     }

     .menu ul li a span {
         margin-top:-2px;
         font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
     }

     .menu-cel {
         display: none
     }

     .menu img {
         height: 70px;
         padding-left: 10px;
         display: block
     }

     .menu figure img,
     .menu figure {
         margin: 0;
         float: left;
         z-index: 100
     }

     .menu ul li .ocultar-escritorio {
         display: none
     }

    header nav ul li:hover .children {
        display: block;

    }

    header nav ul li .children {
        width: 85.141px;
        background: #90ADE8;
        position: absolute;
        z-index: 1000;
    }

    header nav ul li .children li {
        margin:0; 
        display: block;
        overflow: hidden;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }

    header nav ul li .children li a {
        display: block;
        width: 45.141px;
        margin: 0;
    }

    header nav ul li .children li a span {
        float: right;
        position: relative;
        top: 3px;
        margin-right: 0;
        margin-left: 0px;
    }

    header nav ul li .caret {
        position: relative;
        top: 3px;
        margin-left: 10px;
        margin-right: 0px;
    }
    #nav-aside{
        margin: 20px 0 0 4.5%;
        width: 30%;
    }
    .separador{
        display:none    
    }
    .content-aside{
        width: 60%;
        margin: 18px 4.5% 10px 0px;
    }
    
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fade-out{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}