<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administracion|La Voz de OIENIV</title>
    <link rel="stylesheet" href="css/admin.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-amber.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyC2RvmGHYtaqUa5lEXb3MLl_Mv4ECiLoBE",
        authDomain: "chat-lavozdeoieniv.firebaseapp.com",
        databaseURL: "https://chat-lavozdeoieniv.firebaseio.com",
        projectId: "chat-lavozdeoieniv",
        storageBucket: "chat-lavozdeoieniv.appspot.com",
        messagingSenderId: "24315564955"
    };
        firebase.initializeApp(config);
        const database = firebase.database().ref("chat");
        const storage = firebase.storage().ref();
        const storageChild = storage.child("Pruebas");
    </script>
    <div id="app">
        <template v-if="bloqueo">
            <div id="cuerpoBloqueo">
                <div>
                    <div id="image-logo"><img src="images/logo.png" alt=""></div>
                    <div id="mensajeBloqueo">
                        Esta Pagina es netamente administrativa.<br>
                        Si no eres administrador de esta pagina. <br>
                        Regrese a la <a href="index.html">Pagina de Inicio</a>
                        
                    </div>
                </div>
                    <form id="bloqueo" @submit="submit" method="get" action="login-admin.php">
                <div id="autenticacion">
                        <div><label for="user">Usuario:</label>
                        <input style="margin-left:27px" type="text" name="user" id="user" placeholder="Usuario" v-model="inputUser"></div>
                        
                        <div><label for="pass">Contraseña:</label>
                        <input type="password" name="pass" id="pass" v-model="inputPass"></div>
                        
                        <div><label for="remember">Recordar:</label>
                        <input type="checkbox" id="" name="remember" v-model="remember"></div>
                        
                        <div id="enviar"><input type="submit" id="btn-enviar" value="Enviar"></div>
                        <br>
                    <div style="text-align:center;">
                        <template v-if="spin"><img src="images/double-tail-spin.svg" alt="" class="spinner"></template>
                        <span v-else>{{ noUser }}</span>
                    </div>
                </div>
                    </form>
            </div>
        </template>
        <template v-else>
            <header>
                <nav id="menu">
                    <ul>
                        <li @click="page = 1, page1 = true, page2 = false, page3 = false" v-bind:class="{active: page1, noActive: !page1}">Conteo de votos</li>
                        <li @click="page = 2, page2 = true, page1 = false, page3 = false" v-bind:class="{active: page2, noActive: !page2}">Administrar Galeria</li>
                        <li @click="page = 3, page3 = true, page2 = false, page1 = false" v-bind:class="{active: page3, noActive: !page3}">Limpieza del Chat</li>
                    </ul>
                </nav>
            </header>
            <!--Pagina 1-->
            <template v-if="page == 1">
                <div id="title-count">Conteo de votos</div>
                <div class="nombre-voto"><span>Habla Sobre Mi de Daniel calveti</span></div>
                <div class="nombre-voto"><span>Luz y Sal de Funky</span></div>
                <div class="nombre-voto"><span>Amor Real de Manny Montes</span></div>

                <div class="cuenta-voto"><template v-if="spin"><img src="images/double-tail-spin.svg" alt="" class="spinner"></template></img><span v-else>{{ voto1 }}</span></div>
                <div class="cuenta-voto"><template v-if="spin"><img src="images/double-tail-spin.svg" alt="" class="spinner"></template></img><span v-else>{{ voto2 }}</span></div>
                <div class="cuenta-voto"><template v-if="spin"><img src="images/double-tail-spin.svg" alt="" class="spinner"></template></img><span v-else>{{ voto3 }}</span></div>
                <div id="btn-container">

                <form action="votos.php" method="get" @submit="spinToggle">
                <input type="submit" class="btn-lavoz" id="boton-spin" value="Contar Votos">
                </form>
                <div style="height:50px"></div>
                </div>
                
            </template>
            <!---->

            <!--Pagina 2-->
            <template v-if="page == 2">
                <div>
                    <div id="title-count" style="margin:20px 0 10px 0">Subir Foto</div>
                    <div id="formulario">
                        <div><label for="title"></label>
                        <input type="text" name="title" id="titulo" placeholder="Titulo"></div>

                        <div><label for="des"></label>
                        <input type="text" name="des" id="des" placeholder="Descripcion"></div>

                        <div><label for="file"></label>
                        <input type="file" name="archi" id="archi" @change="imagen($event.target.files)"></div>

                        <select v-model="galeria" id="gal">
                            <option selected value="">Seleciona una galeria</option>
                            <option>Aniversario 2017</option>
                            <option>Radio Maratón</option>
                            <option>Navidades 2017</option>
                            <option>Eventos especiales</option>
                            <option>Otros</option>
                        </select>
                        <div id="boton"><button id="btn-enviar" class="btn-lavoz" @click="recogerDatos">Subir Foto</button></div>
                        <output id="output"></output>
                    </div>
                </div>
                <template v-if="showLoad">
                    <div class="cajaexterna">
                        <div class="cajainterna animated">
                            <div class="cajacentrada">
                                <h2>Subiendo {{ imageLoad }}</h2>
                                <div>{{ progress }}%/100%</div>
                               <progress id="progreso" max="100"></progress>
                                <div class="cierramodal">
                                    <button @click="cerrarModal"class="btn-lavoz cerrarmodal" style="margin-top: 30px; position:absolute; bottom:50px; left:40%">cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
                <div id="title-count" style="margin:30px 0 10px 0">Subir Video</div>
                <form action="video.php" method="post" id="formulario" @submit="enviarVideo">
                    <div>
                        <label for="title">Titulo:</label>
                        <input type="text" name="title" id="titulo">
                    </div>
                    
                    <div>
                        <label for="des">Descripción:</label>
                        <input type="text" name="des" id="des">
                    </div>
                    
                    <div>
                        <label for="file">Video:</label>
                        <input type="file" name="archi" id="video" @change="video($event.target.files)">
                    </div>
                    <div id="boton">
                        <input type="submit" id="btn-enviar" class="btn-lavoz" value="Subir Video"></input>
                    </div>
                </form>

            </template>
            <!---->

            <!--Pagina 3-->
            <template v-if="page == 3">
                <div>
                    <div id="contenedor">
                        <div class="hea"></div>
                        <div class="hea">Usuario</div>
                        <div class="hea">Mensaje</div>
                        <div class="hea">Fecha</div>
                        <div class="hea"></div>
                        <template v-if="chatMessages.length > 0">
                        <template v-for="messages in chatMessages">
                            <div class="borde" style="text-align:center"><img :src="messages.value.pic" alt=""></div>
                            <div class="borde" style="text-align:center">{{ messages.value.user }}</div>
                            <div class="borde" style="padding:2px">{{ messages.value.message }}</div>
                            <div class="borde" style="text-align:center">{{ messages.value.date }}</div>
                            <div><button @click="borrarRegistros(messages.key)">Borrar</button></div>
                        </template>
                        </template>
                        <template v-else><div class="solo">No Hay Registros</div></template>
                    </div>
                </div>
            </template>
            <!---->
        </template>
    </div>
    <script src="js/admin.js"></script>
    <script>
        if (localStorage.getItem("remember") || sessionStorage.getItem("remember")) {
            app.bloqueo = false
        }
        let prog = document.querySelector('#progreso')
        prog.value = 50

        function handleFile(file) {
            console.log(file[0].name)
        }
        database.on('value', snapshot => {
            app.chatMessages = []
            snapshot.forEach(e => {
                app.chatMessages.push({value:e.val(), key:e.key})
                return
            });
            return
        });
        var objeto = []
        
        database.on('value', snapshot => {
            objeto = []
            snapshot.forEach(e => {
                objeto.push(e.key)
                return
            });
            return
        });
        function handleFileSelect(evt) {
            var files = evt.target.files;
            for (var i = 0, f; f = files[i]; i++) {
                if (!f.type.match('image.*')) {
                    continue;
                }
                var reader = new FileReader();
                reader.onload = (theFile => {
                    return e => {
                        var span = document.createElement('span');
                        span.innerHTML = [`<img class="thumb" src=${e.target.result}
                                    title=${escape(theFile.name)} />`].join('');
                        document.getElementById('output').insertBefore(span, null);
                    };
                })(f);
                reader.readAsDataURL(f);
            }
        }
        document.getElementById('archi').addEventListener('change', handleFileSelect, false);

    </script>
</body>
</html>
