<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Radio Online|La Voz de OIENIV</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <link rel="stylesheet" href="css/style-radio.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Lobster" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script>var config = {
            apiKey: "AIzaSyC2RvmGHYtaqUa5lEXb3MLl_Mv4ECiLoBE", authDomain: "chat-lavozdeoieniv.firebaseapp.com", databaseURL: "https://chat-lavozdeoieniv.firebaseio.com", projectId: "chat-lavozdeoieniv", storageBucket: "chat-lavozdeoieniv.appspot.com", messagingSenderId: "24315564955"
        };
        firebase.initializeApp(config);
        var TablaDeBaseDatos = firebase.database().ref('chat');
        TablaDeBaseDatos.on('value', snapshot => {
            data.chatMessages = []
            snapshot.forEach(e => {
                let objeto = e.val();
                if ((objeto.message != null) && (objeto.user != null)) {
                    data.chatMessages.push(objeto);
                }
            }
            );
        }
        );
    </script>
</head>

<body id="app">
    <div id="fb-root"></div>
        <script>

    FB.getLoginStatus(function (response) {
        statusChangeCallback(response);
    });
            window.fbAsyncInit = function() {
                FB.init({
                    appId: '484795955226627',
                    cookie: true,
                    xfbml: true,
                    version: 'v2.12'
                });

            FB.AppEvents.logPageView();
        };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/es_LA/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


    </script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <header>
        <script>var data = {
                show: true, showModal: false, chat:{
                    message:"",
                    user:"",
                    pic:"",
                },
                chatMessages:[],
            }

                ;
            if (!localStorage.getItem("Nombre") && !localStorage.getItem("pic")) {
                data.chat.user = "";
                data.chat.pic="";
            }

            else {
                data.chat.user = localStorage.getItem("Nombre");
                data.chat.pic = localStorage.getItem("pic");
            }

        </script>
        <div id="menu">
            <script src="js/menu-radio.js"></script>
            <menu-item index="index.html" radio="" fotos="Galeria/fotos.html" videos="Galeria/videos.html" nosotros="nosotros.html"
                logo="images/logo.png"></menu-item>
        </div>
    </header>
    <script src="js/plantilla-menu.js"></script>
    <div class="online"></div>
    <div id="modal">
        <template v-if="showModal">
            <div id="modal-shadow"></div>
            <div class="modal mdl-dialog">
                <div class="dialog-header">
                    <button type="button" class="mdl-button mdl-color--amber-800 close" @click="showModal = false">Cerrar</button>
                </div>
                <h4 class="mdl-dialog__title">Ingresa tu nombre</h4>
                <div class="mdl-dialog__content">
                    <div id="ingresa-nombre" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input v-model="chat.user" class="mdl-textfield__input" type="text" id="ingresaNombre" name="ingresaNombre">
                        <label class="mdl-textfield__label" for="ingresaNombre">Nombre</label>
                        <button type="button" class="mdl-button mdl-color--amber-800" onclick="ingresaNombre()" id="btnNombre">Enviar</button>
                    </div>
                    <h1 class="mdl-dialog__title o">Ó</h1>

                    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                    </fb:login-button>
                </div>
                <div class="mdl-dialog__actions"></div>
            </div>
        </template>
    </div>
    <div class="cuerpo">
        <div class="panel-cabecera">
            <button id="demo-menu-lower-right" class="mdl-color--amber-800 pull-right mdl-button mdl-js-button mdl-button--icon">
                <span class="icon-menu"></span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                <li class="mdl-menu__item">Some Action</li>
                <li class="mdl-menu__item">Another Action</li>
                <li disabled class="mdl-menu__item">Disabled Action</li>
                <li class="mdl-menu__item">Yet Another Action</li>
            </ul>
        </div>
        <div class="panel-cuerpo" id="chat">
            <ul class="chat">
                <chat-template v-for="iten in chatMessages"
                 :user="iten.user"
                 :pic="iten.pic"
                 :message="iten.message"
                 :date="iten.date"
                ></chat-template>
            </ul>
        </div>
        <div class="panel-pie" id="panel">
            <template v-if="show">
                <div class="ingresa">
                    <button id="boton-nombre" class="mdl-button mdl-js-button mdl-color--amber-800" @click="verModal">Ingresar Nombre</button>
                </div>
            </template>
            <template v-else>
                <form @submit="sendMessage">
                    <div class="input-group">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="msj">
                            <input class="mdl-textfield__input" type="text" id="Mensaje" value="" name="Mensaje" v-model="chat.message">
                            <label class="mdl-textfield__label" for="Mensaje">Ingresa tu mensaje</label>
                        </div>
                        <button class="mdl-button mdl-js-button mdl-color--amber-800" id="btnEnviar" type="submit">Enviar</button>
                    </div>
                </form>
            </template>
        </div>
    </div>
    <script src="js/modal.js"></script>
    <div class="bloque-der">
        <div class="programas">
            <bloque-prog id="tropi" programa="Tropicalisima" hora="De 5P.M. a 7P.M." dia="Sabados" locutor="Bernardo Romero"
                descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero possimus in facilis fugit aspernatur! Tempore, beatae. Quos unde blanditiis officia doloribus! Culpa inventore fugit odit officia eveniet exercitationem! Debitis, harum."
                img="images/user.jpg"></bloque-prog>
            <bloque-prog id="voz" programa="Voz que que clama en el desierto" hora="De 7P.M. a 8P.M." dia="Miercoles"
                locutor="Elizama Patiño" descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero possimus in facilis fugit aspernatur! Tempore, beatae. Quos unde blanditiis officia doloribus! Culpa inventore fugit odit officia eveniet exercitationem! Debitis, harum."
                img="images/user.jpg"></bloque-prog>
            <bloque-prog id="hora" programa="La hora de la intersecion" hora="De 7P.M. a 8P.M." dia="Martes"
                locutor="Agustin Sanchez y el equipo de oracion" descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero possimus in facilis fugit aspernatur! Tempore, beatae. Quos unde blanditiis officia doloribus! Culpa inventore fugit odit officia eveniet exercitationem! Debitis, harum."
                img="images/user.jpg"></bloque-prog>
            <bloque-prog id="entre" programa="Entrelazados" hora="De 10A.M. a 11P.M." dia="Sabados" locutor="Debonish y Marisol Ortega"
                descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero possimus in facilis fugit aspernatur! Tempore, beatae. Quos unde blanditiis officia doloribus! Culpa inventore fugit odit officia eveniet exercitationem! Debitis, harum."
                img="images/user.jpg"></bloque-prog>
            <bloque-prog id="tribu" programa="La Tribu" hora="De 4P.M. a 5P.M." dia="Sabados" locutor="Francisco Infante"
                descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero possimus in facilis fugit aspernatur! Tempore, beatae. Quos unde blanditiis officia doloribus! Culpa inventore fugit odit officia eveniet exercitationem! Debitis, harum."
                img="images/user.jpg"></bloque-prog>
            <bloque-prog id="vene" programa="Venezuela Para Cristo" hora="De 8A.M. a 9A.M." dia="Sabados" locutor="Agustin Sanchez Romero"
                descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero possimus in facilis fugit aspernatur! Tempore, beatae. Quos unde blanditiis officia doloribus! Culpa inventore fugit odit officia eveniet exercitationem! Debitis, harum."
                img="images/user.jpg"></bloque-prog>
        </div>
    </div>
    <script src="js/bloque-programas.js"></script>
    <aside class="lateral"></aside>
    <div class="publicidad pull-left"></div>
    <div id="pie">
        <item-footer index="index.html" logo="images/logo.png"></item-footer>
    </div>
    <script src="js/plantilla-footer.js"></script>
    <script src="js/listen.js"></script>
    <script>function face() {
            window.open("https://www.facebook.com/lavozdeoieniv", "_blank")
        }

        function twit() {
            window.open("https://www.twitter.com/lavozdeoieniv", "_blank")
        }

        function inst() {
            window.open("https://www.instagram.com/lavozdeoieniv", "_blank")
        }

        function yt() {
            window.open("https://www.youtube.com/channel/UCjqEhezX3BmaWfp6UXgQxvg", "_blank")
        }

        var openFace = document.querySelector("#icon-face");
        openFace.addEventListener("click", face, false);
        var openTwit = document.querySelector("#icon-twit");
        openTwit.addEventListener("click", twit, false);
        var openInst = document.querySelector("#icon-inst");
        openInst.addEventListener("click", inst, false);
        var openYt = document.querySelector("#icon-yt");
        openYt.addEventListener("click", yt, false);
        function carga() {
            if (localStorage.getItem("Nombre")) {
                data.show = false;
                data.showModal = false;
                Nombre = localStorage.getItem("Nombre");
            }
            else {
                data.show = true;
            }
            return data.show,
                data.showModa;
        }
        window.addEventListener("load", carga, false);
        function ingresaNombre() {
            let Nombre = document.getElementById("ingresaNombre").value;
            localStorage.setItem("Nombre", Nombre);
            let pic = "http://placehold.it/50/55C1E7/fff&text=U"
            localStorage.setItem("pic", pic)
            data.chat.pic = pic;
            if (Nombre != undefined && Nombre != "" && Nombre != null) {
                data.show = false;
                data.showModal = false;
            }
        }
    </script>
    <script src="js/mas.js"></script>
</body>

</html>